body header, body main {
  position: relative;
}

header {
  color: white;
  background-color: rgb(0, 0, 0, 0.4);
  background-image: url("img/la.jpg");
  background-position: center;
  background-size: cover;
  background-blend-mode:soft-light;
  position: relative;
}

.loo{
  width: 110px;
  height: 110px;
  float: left;
  border-radius: 10px;
  position: relative;
  top: 25px;
}

strong.schoolname {
  font-size: 30px;
  position: relative;
  top: 25px;
  }

.addr {
  font-size: small;
  text-align: center;
}
#addr1 {
  margin-top: 25px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  overflow: hidden;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #025940;
  color:rgb(233, 241, 241);
  border-radius: 10px;
}

.navbar .search-container {
 float: right;
}

.navbar input[type="text"] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border-bottom: 2px solid #025940;
  background-color: rgb(7, 7, 7, 0.4);
}

.navbar .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 20px;
  font-size: 17px;
  border-bottom: 2px solid #025940;
  background-color: rgb(7, 7, 7, 0.4);
  color: white;
  cursor: pointer;
}

.navbar .search-container button:hover {
  background: #025940;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .navbar a,
  .search-container input[type="text"],
  .navbar .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .search-container input[type="text"] {
    color: white;
  }
}
.intro {
  text-align: center;
  height: 400px;
  margin-top: 235px;
}

hr {
  border-color: white;
}

.rm {
  padding: 7px 13px;
  font-size: 16px;
  color: white;
  background-color: #025940;
  border-radius: 7px;
  cursor:pointer;
  animation: ease-out;
  animation-duration: 10ms;
}
.rm:hover {
  background-color: rgba(247, 247, 19, 0.918);
  color: #025940;
  font-size: 18px;
}

.search-container input[type="text"]:hover {
color: white;
border: 1px solid white;
}

#st, main p a button.smb {
  text-align: center;
}

#sm {
  font-size: 200%;
  text-align: center;
}
#st {
  font-size: 110%;
}
.smb {
  font-size: 25px;
  background-color: #025940;
  color: white;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.smb:hover {
  background-color: rgba(247, 247, 19, 0.918);
  color: #025940;
  font-size: 28px;
}
main div.lll {
  text-align: center;
}
.bol {
  font-size: 25px;
}
.wor {
  font-size: 20px;
  color: white;
}
.applynow {
  padding: 5px;
  background-color: lightgreen;
  border-radius: 7px;
  font-size: 20px;
}
table.mid {
  text-align: center;
  border: 0px solid #f9fcfb;
  margin-left: auto;
  margin-right: auto;
  background-color: #025940;
  border-spacing: 0px;
  border-collapse: collapse;
  margin-bottom: 150px;
}
td img {
  width: 550px;
}

.column {
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
  height: 370px;
  background-color: rgba(250, 246, 210, 0.877);
  }
.row {
  margin: 0px 100px;
  display: grid;
  grid-template-columns: repeat(4,minmax(0,1fr));
  gap: 50px;
}

footer {
  margin-top: 200px;
  background-image: url("img/g4.jpg");
  color: white;
}
.footbar {
background-image: linear-gradient(rgb(2, 89, 64, 0.6), rgb(2, 89, 64, 0.9), rgb(2, 89, 64, 1), rgb(2, 89, 64));
}
.GIT {
  text-align: center;
}
.GIT strong {
  font-size: 40px;
}
.fillspace1 {
  border: 1px solid white;
  padding: 6px;
  border-radius: 20px;
  width: 450px; 
}
.fillspace1::-webkit-input-placeholder {
  font-family: fontawesome;
  padding-left: 15px;
}
.fillspace2 {
  border: 1px solid white;
  padding: 6px;
  border-radius: 20px;
  color: #025940;
  background-color: rgba(247, 247, 19, 0.918);
}

.footloo{
  width: 110px;
  height: 110px;
  float: left;
  border-radius: 10px;
  position: relative;
  margin-right: 8px;
}
.footloow{ 
  float: right;
  position: relative;
  font-size: 15px;

}
#footcol p a, i a {
  text-align: left;
  text-decoration: none;
  color: white;  
  }

#footcol p a:hover {
  color: #025940;
  background-color: rgba(247, 247, 19, 0.918);
  border: 1px solid black;
  border-radius: 7px;
  padding: 5px;
}
i a:hover {
  color: #025940;
  background-color: rgba(247, 247, 19, 0.918);
  border: 1px solid black;
  border-radius: 7px;
  padding: 5px;
}
.footrow {
  margin: 0px 100px;
  display: grid;
  grid-template-columns: repeat(4,minmax(0,1fr));
  gap: 50px;
}
