body header, body main {
  position: relative;
}

header {
  color: white;
  background-color: rgb(0, 0, 0, 0.6);
  background-image: url("img/la.jpg");
  filter: brightness(110%);
  background-position: center;
  background-size: cover;
  background-blend-mode:soft-light;
  position: relative;
  margin-top: -35px;
}

.loo{
  width: 110px;
  height: 110px;
  float: left;
  border-radius: 10px;
  position: relative;
  top: 15px;
  margin-left: 40px;
}

.schoolname {
  font-size: 3vw;
  position: relative;
  top: 25px;
  }

.addr {
  font-size: small;
  text-align: center;
}
#addr1 {
  margin-top: 25px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: #025940;
  margin-top: 15px;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin-left: 20px;
}

.navbar a:hover {
  background-color: rgb(247, 247, 19, 0.918);
  color: #025940;
  border-radius: 10px;
  font-size: large;
  padding: 10px;
}

.navbar .search-container {
 float: right;
}

.navbar input[type="text"] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border-bottom: 2px solid #025940;
  background-color: rgb(7, 7, 7, 0.4);
}

.navbar .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 20px;
  font-size: 17px;
  border-bottom: 2px solid #025940;
  background-color: rgb(7, 7, 7, 0.4);
  color: white;
  cursor: pointer;
}

.navbar .search-container button:hover {
  background: rgb(247, 247, 19, 0.918);
  color: #025940;
}


.intro {
  text-align: center;
  height: 400px;
  margin-top: 235px;
}

hr {
  border-color: white;
}

.rm {
  padding: 7px 13px;
  font-size: 16px;
  color: white;
  background-color: #025940;
  border-radius: 7px;
  cursor:pointer;
  animation: ease-out;
  animation-duration: 10ms;
}
.rm:hover {
  background-color: rgba(247, 247, 19, 0.918);
  color: #025940;
  font-size: 18px;
}

.search-container input[type="text"]:hover {
color: white;
border: 1px solid white;
}

#st, main p a button.smb {
  text-align: center;
}

#sm {
  font-size: 5vw;
  text-align: center;
}
#st {
  font-size: 110%;
}
.smb {
  font-size: 25px;
  background-color: #025940;
  color: white;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.smb:hover {
  background-color: rgba(247, 247, 19, 0.918);
  color: #025940;
  font-size: 28px;
}
main div.lll {
  text-align: center;
}

.Gtab {
  margin: 10px 160px;
  margin-left: 250px;
}
.tab1 img, .tab2 img {
  width: 500px;
  float: left;
  height: 350px;
}

.bol {
  font-size: 25px;
}
.wor1, .wor2 {
  font-size: 20px;
  background-color: #025940;
  color: white;
  width: 500px;
  float: left;text-align: center;
  height: 350px;
}
.applynow {
  padding: 5px;
  background-color: lightgreen;
  border-radius: 7px;
  font-size: 20px;
}
.applynow:hover {
  background-color: rgba(247, 247, 19, 0.918);
  color: #025940;
  padding: 6px;
  cursor: pointer;
}

.colum {
  text-align: center;
  width: 250px;
  margin: 0px 20px;
  height: 370px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: #025940;
  color: white;
  float: left;
  }
  .col1 {
    margin-left: 120px;
  }
  img.iii {
    border-radius: 1px;
  }
.row {
  content: "";
  margin: 0px 100px;
  display: table;
  margin-top: 800px;
  margin-left: 80px;
}

footer {
  margin-top: 200px;
  background-image: url("img/g4.jpg");
  color: white;
}
.footbar {
background-image: linear-gradient(rgb(2, 89, 64, 0.6), rgb(2, 89, 64, 0.9), rgb(2, 89, 64, 1), rgb(2, 89, 64));
}
.GIT {
  text-align: center;
}
.GIT strong {
  font-size: 40px;
}
.fillspace1 {
  border: 1px solid white;
  padding: 6px;
  border-radius: 20px;
  width: 450px; 
}
.fillspace1::-webkit-input-placeholder {
  font-family: fontawesome;
  padding-left: 15px;
}
.fillspace2 {
  border: 1px solid white;
  padding: 6px;
  border-radius: 20px;
  color: #025940;
  background-color: rgba(247, 247, 19, 0.918);
}

.footloo{
  width: 110px;
  height: 110px;
  float: left;
  border-radius: 10px;
  position: relative;
  margin-right: 8px;
}
.footloow{ 
  float: right;
  position: relative;
  font-size: 15px;

}
#footcol p a, i a {
  text-align: left;
  text-decoration: none;
  color: white;  
  }

#footcol p a:hover {
  color: #025940;
  background-color: rgba(247, 247, 19, 0.918);
  border: 1px solid black;
  border-radius: 7px;
  padding: 5px;
}
i a:hover {
  color: #025940;
  background-color: rgba(247, 247, 19, 0.918);
  border: 1px solid black;
  border-radius: 7px;
  padding: 5px;
}
.footrow {
  margin: 0px 100px;
  display: grid;
  grid-template-columns: repeat(4,minmax(0,1fr));
  gap: 50px;
}

@media screen and (max-width: 600px) {
  .loo {
    margin: 2px 200px;
    width: 10%;
    height: auto;
    margin-left:auto;
    margin-right:auto;
  }
  .topnav {
    float: none;
  }
  .navbar a,
  .search-container input[type="text"],
  .navbar .search-container button {
    float: none;
    display:inline;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 5px;
    font-size: 14px;
  }
  .navbar a:hover{
    font-size: medium;
  }
  .search-container input[type="text"] {
    color: white;
    position: absolute;
    margin-top: 40px;
    margin-left: -213px;
    width: auto;
  }
  .navbar .search-container button {
    color: white;
    position: absolute;
    margin-top: 40px;
    margin-left: -30px;
    width: auto;
  }
  header {
    width: 100%;
    background-image: url("img/jacket.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -20px;
  }
  .intro {
    margin-top: 100px;
    height: 300px;
  }
  .Gtab {
    margin-left: 100px;
    margin-right: 100px;
  }
  .tab1 img, .tab2 img {
    width: 100%;
    height: 100%;
  }
  .tab2 img {
    position: absolute;
    margin-top: 471px;
    width: 58.5%;
    height: auto;
    margin-left: -283px;
  }
  .wor1, .wor2 {
    width: 100%;
    height: auto;
    font-size: 15px;
  }
  .wor2 {
    margin-top: 188px;
  }


  .column {
    width: 10%;
    font-size: 2px;
    height: auto;
    float: none;
  }
}
